.bg-faded {
  background-color: rgba(255, 255, 255, 1);
}

 /* .lead{
  color: #9ea0a6;
} */

.intro {
  position: relative;
}

@media (min-width: 992px) {
  .intro .intro-img {
    width: 65%;
    float: right;
  }
  .intro .intro-text {
    left: 0;
    width: 60%;
    margin-top: 3rem;
    position: absolute;
  }
}

@media (min-width: 1200px) {
  .intro .intro-text {
    width: 45%;
  }
}








/* .card{border:none;}

.card img{
    transition-timing-function: ease-in-out;
    transition: all 150ms;
}

.card img:hover{
    transform: translate(0, -3px);
} */





/* Media queries */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .prof__item-title {
        font-size: 3.5rem
    }
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .prof__item-title {
        font-size: 3.5rem;
    }
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .prof__item-title {
        font-size: 2.5rem;
    }
  } 
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .prof__item-title {
        font-size: 4rem;
    }
  } 
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    .prof__item-title {
        font-size: 4.5rem;
        
    }
  }